@page "/"
@inject IJSRuntime JS
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<button class="btn btn-primary" @onclick="@ExportToPdf">Export to PDF</button>
@code {

    protected async Task ExportToPdf()
    {
        string htmlContent = "<h1>Hello, World!</h1><p>This is a PDF generated from HTML string.</p>";
        await JS.InvokeVoidAsync("generatePDF", htmlContent);
    }
}